!!! 5

html(lang="en")
  head    
    script(type='text/javascript', src='static/js/underscore-min.js')
    script(type='text/javascript', src='static/js/jquery.min.js')
    script(type='text/javascript', src='static/js/json2.js')
    script(type='text/javascript', src='static/js/backbone-min.js')
                
    script(type='text/javascript', src='client.js')
    
    title Mochi Stats!

  body
    | hello
    #content